

<form [formGroup]="form" (ngSubmit)="createTask()">
  <h3 class="text-center mt-4 mb-2">Agregar Tareas</h3>
  <div class="row mt-1" id="tasks">
    <div class="col-sm-12 col-md-4">
      <div class="form-group">
        <label for="exampleInputEmail1">Tarea</label>
        <input formControlName="title" placeholder="Introduzca el nombre de la tarea" type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
        <span class="text-danger" style="font-size: 12px" *ngIf="title.invalid && (title.dirty || title.touched)">{{getTitleError()}}</span>
      </div>
    </div>
    <div class="col-sm-12 col-md-3">
      <div class="form-group">
        <label for="exampleInputEmail1">Latitud</label>
        <input formControlName="latitude" placeholder="Introduzca latitud" type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
        <span class="text-danger" style="font-size: 12px" *ngIf="latitude.invalid && (latitude.dirty || latitude.touched)">{{getLatitudeError()}}</span>
      </div>
    </div>
    <div class="col-sm-12 col-md-3">
      <div class="form-group">
        <label for="exampleInputEmail1">Longitud</label>
        <input formControlName="longitude" placeholder="Introduzca longitud" type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
        <span class="text-danger" style="font-size: 12px" *ngIf="longitude.invalid && (longitude.dirty || longitude.touched)">{{getLongitudeError()}}</span>
      </div>
    </div>
    <div class="col-sm-12 col-md-2 d-none d-md-block">
      <div class="row justify-content-end align-items-center" style="height: 100%">
        <button type="submit" class="btn btn-outline-primary">Agregar</button>
      </div>
    </div>
    <div class="col-sm-12 col-md-2 d-sm-block d-md-none">
      <div class="row justify-content-center align-items-center" style="height: 100%">
        <button type="submit" class="btn btn-outline-primary">Agregar</button>
      </div>
    </div>
  </div>
</form>
<h3 class="text-center mt-4 mb-2">Tareas</h3>
<div class="row container-tasks">
  <div *ngFor="let task of tasks">
    <div class="card">
      <div class="card-body">
        <div>
          <span style="font-size: 20px;">{{task.title}}</span> <i (click)="deleteTask(task.id)" class="fa fa-trash text-danger pointer" style="float: right"></i>
        </div>
        <div>
          <span class="font-weight-bold">Latitud: </span>
          <span> {{task.latitude}} º</span>
        </div>
        <div>
          <span class="font-weight-bold">Longitud: </span>
          <span> {{task.longitude}} º</span>
        </div>
        <div>
          <span class="font-weight-bold">¿Esta lista?: </span>
          <span>
            <div class="form-check">
              <input (change)="updateTask(task)" class="form-check-input" type="checkbox" [checked]="task.isDone" id="defaultCheck1">
              <label class="form-check-label" for="defaultCheck1">
                {{(task.isDone ? 'Si' : 'No')}}
              </label>
            </div>
          </span>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row d-none d-md-block mt-4">
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">Tarea</th>
        <th scope="col">Latitud</th>
        <th scope="col">Longitud</th>
        <th scope="col">¿Esta lista?</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let task of tasks">
        <td>{{task.title}}</td>
        <td>{{task.latitude}} º</td>
        <td>{{task.longitude}} º</td>
        <td>
          <div class="form-check">
            <input (change)="updateTask(task)" class="form-check-input" type="checkbox" [checked]="task.isDone" id="defaultCheck1">
            <label class="form-check-label" for="defaultCheck1">
              {{(task.isDone ? 'Si' : 'No')}}
            </label>
          </div>
        </td>
        <td><i (click)="deleteTask(task.id)" class="fa fa-trash text-danger pointer"></i></td>
      </tr>
    </tbody>
  </table>
</div>