.pointer {
  cursor: pointer
}

.container-tasks {
  display: none;
}
@media (max-width: 768px) {
  .container-tasks {
    padding: 20px !important;
    display: grid !important;
    grid-template-columns: 50% 50% !important;
    column-gap: 5px !important;
    row-gap: 5px !important
  }
}
@media (max-width: 450px) {
  .container-tasks {
    padding: 20px !important;
    display: grid !important;
    grid-template-columns: 100% !important;
    row-gap: 5px !important
  }
}