<h3 class="text-center mt-4 mb-2" id="contact">Contactanos</h3>
<form [formGroup]="form" (submit)="sendComment()">
  <div class="row justify-content-center">
    <div class="col-sm-12 col-md-8">
      <div class="form-group">
        <label for="exampleInputEmail1">Correo</label>
        <input email formControlName="email" placeholder="Introduzca su correo" type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
        <span class="text-danger" style="font-size: 12px" *ngIf="email.invalid && (email.dirty || email.touched)">{{getEmailError()}}</span>
      </div>
    </div>
    <div class="col-sm-12 col-md-8">
      <div class="form-group">
        <label for="exampleFormControlTextarea1">Comentario</label>
        <textarea formControlName="comment" placeholder="Escribe tu comentario ..." class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
        <span class="text-danger" style="font-size: 12px" *ngIf="comment.invalid && (comment.dirty || comment.touched)">{{getCommentError()}}</span>
      </div>
    </div>
  </div>
  <div class="row justify-content-center">
    <button type="submit" class="btn btn-outline-primary">Enviar</button>
  </div>
  <div class="row justify-content-center">
    <span class="text-success mt-4" *ngIf="success">
      Comentario enviado!!
    </span>
  </div>
</form>
