<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top shadow-sm" 
style="background-color: #80DEEA !important">
  <a class="navbar-brand text-white" href="#">Prueba</a>
  <button class="navbar-toggler text-white" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <i class="fa fa-bars"></i>
  </button>
  <div class="collapse navbar-collapse float-right" id="navbarSupportedContent">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item" *ngFor="let option of options; index as i">
        <a class="nav-link text-white font-weight-bold" (click)="currentOption = option.id" [ngClass]="{ 'active': currentOption === option.id}" aria-current="page" href="#{{option.id}}">{{option.name}}</a>
      </li>
    </ul>
  </div>
</nav>
<!-- <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
  <div class="container-fluid">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" href="#">Prueba</a>
    <div class="collapse navbar-collapse justify-content-end" id="navbarTogglerDemo01">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item" *ngFor="let option of options; index as i">
          <a class="nav-link" (click)="currentOption = option.id" [ngClass]="{ 'active': currentOption === option.id}" aria-current="page" href="#{{option.id}}">{{option.name}}</a>
        </li>
      </ul>
    </div>
  </div>
</nav> -->
