<div>
  <div class="mt-5" id="chat">
    <div class="row d-flex justify-content-center">
      <div class="col-md-6">
        <div class="card card-bordered">
          <div class="card-header">
            <h4 class="card-title"><strong>Chat grupal</strong></h4>
          </div>
          <div
            class="ps-container ps-theme-default ps-active-y"
            id="chat-content"
            style="overflow-y: scroll !important; height: 400px !important"
          >
            <div class="media media-chat" *ngFor="let message of messages">
              <img
                class="avatar"
                src="https://img.icons8.com/color/36/000000/administrator-male.png"
                alt="..."
              />
              <div class="media-body">
                <p><span [ngStyle]="{'color': message.colorMessage}" style="font-size: 10px !important; font-weight: 700 !important;">user: {{message.userId}}</span><br>{{message.content}}</p>
                <p class="meta"><time datetime="2018">{{message.time}}</time></p>
              </div>
            </div>
            <div class="ps-scrollbar-x-rail" style="left: 0px; bottom: 0px">
              <div
                class="ps-scrollbar-x"
                tabindex="0"
                style="left: 0px; width: 0px"
              ></div>
            </div>
            <div
              class="ps-scrollbar-y-rail"
              style="top: 0px; height: 0px; right: 2px"
            >
              <div
                class="ps-scrollbar-y"
                tabindex="0"
                style="top: 0px; height: 2px"
              ></div>
            </div>
          </div>
          <div class="publisher bt-1 border-light">
            <img
              class="avatar avatar-xs"
              src="https://img.icons8.com/color/36/000000/administrator-male.png"
              alt="..."
            />
            <input
              [formControl]="message"
              class="publisher-input"
              type="text"
              placeholder="Escribe algo ..."
            />
            <a class="publisher-btn text-info" data-abc="true"
              ><i (click)="sendMessage()" class="fa fa-paper-plane"></i
            ></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
